.footer{
  background-image: url("../../../../assets/images/BackgroundFooter.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__rrss{
    padding-bottom: 5rem;
    .rrss__container{
      display: flex;
      gap: 1rem;
      padding-bottom: 1rem;
    }

    .rrss__direction{
      display: flex;
      align-items: center;

      p{
        display: inline-block;
        color: #ffffff;
        font-family: "Raleway", sans-serif;
      }
    }
  }

  &__logo{
    background-image: url("../../../../assets/images/Logo_LC_blanco.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
    padding-bottom: 5rem;
  }

}