.home-page {
  background-color: #ffffff;
  min-height: 100vh;
  max-width: 100vw;


  .product{
    position: relative;

  }

  .contact{
    position: relative;
  }

}

.history {
  position: relative;
}
